@using Portfolio.Services
@inject WeatherService WeatherService

@{
    var weather = await WeatherService.GetWeatherAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nylegna Kir Sosobrado</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body id="top">
    <nav>
        <div class="nav-content">
            <div class="logo">
                <a href="#top">Nylegna Kir Sosobrado</a>
            </div>

            <ul class="nav-links">
                @* <li><a href="#about-me" class="nav-link">About Me</a></li> *@
                <li><a href="#portfolio-api" class="nav-link">Portfolio</a></li>
                @* <li><a href="#kontakt" class="nav-link">Contact Me!</a></li> *@
                <li><a href="~/images/CV_NylegnaKir_Sosobrado.pdf" download class="nav-link">Download my CV</a></li>
                <li><a href="https://github.com/nellysosobrado" target="_blank"><i class="bi bi-github"></i></a></li>
                <li><a href="https://linkedin.com/in/nylegnakir" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                <li class="nav-link weather-info">
                    @if (weather != null)
                    {
                        <span>@weather.Main.Temp&nbsp;°C – @weather.Name</span>
                    }
                </li>


            </ul>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; @DateTime.Now.Year Nylegna Kir Sosobrado. Alla rättigheter förbehållna.</p>
            <div class="footer-links">
                <a href="https://github.com/nellysosobrado" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://linkedin.com/in/nylegnakir" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="mailto:din.epost@domain.se"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/js/script.js"></script>
</body>
</html>
